<b>Universidad Galileo</b><br/>
<b>Maestría de Ciencia de Datos</b><br/>
<b>Statistical Learning I</b><br/>
<b>Jose Godoy</b><br/>
<b>Carnet 22000570</b><br/>
<b>22 de junio 2022</b><br/>

# Sección de configuración

## Liberías

Carga de librerías generales

In [72]:
import numpy as np
import pandas as pd

## Variables Globales

In [77]:
#Exactitud utilizada en todos los modelos
GLOBAL_EXACTITUD = 0.8
#Datos CSV sin alterar
GLOBAL_DATOS = pd.read_csv("data_titanic_proyecto.csv")
#Porcentaje de datos de entrenamiento
GLOBAL_SET_ENTRENAMIENTO = 0.8
#Porcentaje de datos de validación
GLOBAL_SET_VALIDACION = 0.2

# Preprocesamiento

## Train-val-test split

In [81]:
TVTS_data = GLOBAL_DATOS

Indices aleatorios

In [89]:
np.random.seed(2022)

Indices prueba

In [90]:
longitud = len(TVTS_data)
TVTS_indices_entrenamiento = np.random.choice(longitud, round(longitud * GLOBAL_SET_ENTRENAMIENTO), replace=False)
TVTS_indices_prueba = np.array(list(set(range(longitud)) - set(TVTS_indices_entrenamiento)))

Datos prueba

In [91]:
TVTS_data_prueba = TVTS_data.iloc[TVTS_indices_prueba,:]
TVTS_data_entrenamiento = TVTS_data.iloc[TVTS_indices_entrenamiento,:]

Indices de entrenamiento y validación

In [92]:
longitud = len(TVTS_data_entrenamiento)
TVTS_indices_validacion = np.random.choice(longitud, round(longitud * GLOBAL_SET_VALIDACION), replace=False)
TVTS_indices_entrenamiento = np.array(list(set(range(longitud)) - set(TVTS_indices_validacion)))

Datos de entrenamiento y validación

In [93]:
TVTS_data_validacion = TVTS_data_entrenamiento.iloc[TVTS_indices_validacion,:]
TVTS_data_entrenamiento = TVTS_data_entrenamiento.iloc[TVTS_indices_entrenamiento,:]

Guardando CSV de datos de prueba

In [96]:
TVTS_data_prueba.to_csv("TVTS_data_prueba.csv", index=False)

Eliminación de variables con los datos de prueba:

In [97]:
del TVTS_data_prueba
del TVTS_data
del GLOBAL_DATOS

# Analisis exploratorio

Los datos son los siguientes:

In [74]:
AE_feature_engineering = GLOBAL_DATOS
AE_feature_engineering

,PassengerId,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,passenger_class,passenger_sex,passenger_survived
0,1,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,NaN,S,Lower,M,N
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C85,C,Upper,F,Y
2,3,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Lower,F,Y
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,C123,S,Upper,F,Y
4,5,"Allen, Mr. William Henry",35.0,0,0,373450,8.0500,NaN,S,Lower,M,N
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,"Montvila, Rev. Juozas",27.0,0,0,211536,13.0000,NaN,S,Middle,M,N
887,888,"Graham, Miss. Margaret Edith",19.0,0,0,112053,30.0000,B42,S,Upper,F,Y
888,889,"Johnston, Miss. Catherine Helen ""Carrie""",NaN,1,2,W./C. 6607,23.4500,NaN,S,Lower,F,N
889,890,"Behr, Mr. Karl Howell",26.0,0,0,111369,30.0000,C148,C,Upper,M,Y
890,891,"Dooley, Mr. Patrick",32.0,0,0,370376,7.7500,NaN,Q,Lower,M,N

## Eliminación de características específicas

Se eliminará ID de pasajero "passengerID" y nombre.

In [75]:
del AE_feature_engineering["PassengerId"]
del AE_feature_engineering["Name"]

## Imputación de datos faltantes

A continuación se listan la cantidad de registros en cada columna que tienen valores NAN:

In [76]:
for col in AE_feature_engineering.columns:
    AE_columnas_nan = AE_feature_engineering[col].isnull().sum().sum()
    if(AE_columnas_nan>0):
        print(col+":", AE_columnas_nan)

Age: 177
Cabin: 687
Embarked: 2